.app {
    text-align: center;
    font-family: Arial, sans-serif;
}
  
.loading {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 40px;
}
  
.info-bar {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
  
.game-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
  
.image-wrapper {
    position: relative;
    display: inline-block;
    width: 500px;
    height: 300px;
}
  
.game-img {
    width: 100%;
    height: 100%;
    border: 2px solid #222;
    object-fit: contain;
}
  
.highlight {
    position: absolute;
    border: 3px solid green;
    pointer-events: none;
    box-sizing: border-box;
}
  
.win-box {
    margin-top: 25px;
    font-size: 1.7rem;
    color: green;
    font-weight: bold;
}
  
@media (max-width: 600px) {
    .game-img {
      width: 250px;
    }

    .app h1 {
        font-size: 2rem;
    }
}
  


.blurred {
    filter: blur(4px);
    pointer-events: none; 
    transition: filter 0.5s ease;
}
  
.win-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.6s ease forwards;
    z-index: 999;
}
  
.win-popup {
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 35px rgba(0,0,0,0.25);
    transform: scale(0.8);
    animation: popupIn 0.4s ease forwards;
}
  
.win-popup h2 {
    margin-bottom: 10px;
    font-size: 28px;
}
  
.restart-btn {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}
  
.restart-btn:hover {
    background: #0056c7;
}
  
  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
  
@keyframes popupIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
  